<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<div class="ns-ext-dashboard-wrap">
		<div class="row">
			<div class="col-lg-8 col-xl-9">
				<f:if condition="{totalTicket} > 0">
					<f:then>
						<div class="row">
							<div class="col-sm-6 col-lg-4">
								<div class="card">
									<div class="card-body">
										<div class="ns-ext-report-block d-flex align-items-center">
											<div class="report-block-content">
												<h5><f:translate key="totaltickets" /></h5>
											</div>
											<div class="report-block-icon">
												<em class="fa text-primary" aria-hidden="true"><strong><span>{totalTicket}</span></strong></em>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="card">
									<div class="card-body">
										<div class="ns-ext-report-block d-flex align-items-center">
											<div class="report-block-content">
												<h5><f:translate key="closetickets" /></h5>
											</div>
											<div class="report-block-icon">
												<em class="fa text-danger" aria-hidden="true"><strong><span>{closeTicket}</span></strong></em>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="card">
									<div class="card-body">
										<div class="ns-ext-report-block d-flex align-items-center">
											<div class="report-block-content">
												<h5><f:translate key="newtickets" /></h5>
											</div>
											<div class="report-block-icon">
												<em class="fa text-success" aria-hidden="true"><strong><span>{newTicket}</span></strong></em>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-lg-6">
								<div class="card">
									<div class="card-body">
										<div class="ns-ext-report-block d-flex align-items-center">
											<div class="report-block-content">
												<h5><f:translate key="customerreview" /></h5>
											</div>
											<div class="report-block-icon">
												<em class="fa" aria-hidden="true"><strong><span>{total}</span></strong></em>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-6">
								<div class="card">
									<div class="card-body">
										<div class="ns-ext-report-block d-flex align-items-center">
											<div class="report-block-content">
												<h5><f:translate key="assigntome" /></h5>
											</div>
											<div class="report-block-icon">
												<em class="fa" aria-hidden="true"><strong><span>{assignToMe}</span></strong></em>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</f:then>
					<f:else>
						<div class="alert alert-info" role="alert">
							<h4 class="alert-heading"><f:translate key="opps" /></h4>
							<p><f:translate key="info1" /></p>
							<p><f:translate key="info2" /></p>
						</div>
					</f:else>
				</f:if>
				<f:format.raw>{dashboardSupport}</f:format.raw>
			</div>
			<f:format.raw>{rightSide}</f:format.raw>
		</div>
	</div>
</f:section>

</html>