<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="alert alert-danger" role="alert">
		<h4 class="alert-heading"><f:translate key="sorry" extensionName="your_extension_key"/></h4>
		<p><f:translate key="noconstantline1" extensionName="your_extension_key" /></p>
		<p><f:translate key="noconstantline2" extensionName="your_extension_key" /></p>
		<f:if condition="{link}">
			<hr>
			<p class="mb-0"><f:translate key="noconstantline3" extensionName="your_extension_key" /><a href="{link}" class="alert-link" style="text-decoration: none;"><f:translate key="templatelinkText" extensionName="your_extension_key" /></a></p>
		</f:if>
	</div>
</html>